<div id="jkr700" class="modal-qs">
  <div class="modal-dialog-qs">
    <div class="modal-content-qs">
      <header> 
        <a href="#" class="closebtn-qs">×</a>
        <div class="prof-of">Profile of MD JAKIR HOSSAIN</div>
      </header>
      <div align='center' class="container-qs"><br/>
      
      
<div align="center" id="passwjkr" style="border:0px solid red;
border-radius:10px;
width:200px;
background:#EFF0F1;
box-shadow:0px 0px 10px #9F9F9F;"><br/><br/>
            <div style="font-size:16px;">
                Enter Your Passcode:
            </div><br/>
<div>
<input class="psscd" type="password" title="Type Your Passcode" id="passwordjkr" onkeydown="if (event.keyCode == 13) document.getElementById('buttonjkr').click()" /> <!-- IMPORTANT! this part is so if you click enter, it works. -->
</div>
            
<div><br/>
<input class="passcd-log" id="buttonjkr" type="button" value="Login" onclick="if (document.getElementById('passwordjkr').value == 'jkr700') { 
document.getElementById('tablejkr').classList.toggle('show');   document.getElementById('passwjkr').style.display='none'; } 
else {  alert('Invalid Password!'); password.setSelectionRange(0, password.value.length);   } " />
</div>
<!-- it will autoselect wrong input if wrong -->
    <br /><br /><br />
        </div>

<table id="tablejkr" border="0" width="100%">
    <tr> 
<td id="HIDDENDIV">

<div id="navigation">
     <ul>
          <li><a style="border-radius:0px 10px 0px 0px; cursor:pointer;" class="tablinkjkr w3-redjkr" onclick="openJkr(event,'Personalinfjkr')"><span>Personal Profile</span></a></li>
          <li><a style="border-radius:10px 0px 0px 0px; cursor:pointer;" class="tablinkjkr" onclick="openJkr(event,'Accountjkr')"><span>Account</span></a></li>
     </ul>
</div>



<div class="mmbr-photo mmbr-photo-jkr"></div>
<div class="com-name">Noovar</div>
<div class="mmbr-name">Md Jakir Hossain</div>
<div class="com-logo"></div>

<div style="border:0px solid blue; width:100%; height:530px; position:absolute; top:180px; display:flex;  align-items:center;  justify-content:center; margin-bottom:10px;">
<div class="vr" style="width:10px; height:10px; background:#4B4B4B; border-radius:100%; top:0px; position:absolute;"></div>
<div class="vr" style="border-top:0px solid black; border-right:0px solid #4B4B4B; border-bottom:0px solid black; border-left:0px solid #4B4B4B; height:100%; width:4px; background:linear-gradient(#4B4B4B, transparent);"></div>
</div>


<!-- left -->
<div id="Personalinfjkr" class="jkr">

<div class="left-bx">
<div class="" style="font-size:25px; position:absolute; top:-40px; width:100%; border:0px solid black; display:flex;  align-items:center;  justify-content:center; text-shadow:1px 1px 3px #CACACA; color:#292929;">Personal Information</div>
    
<table class="info-tbl" border="0" width="100%">
<tr>
<td id="inf-l" align="right">Father's Name :</td>
<td id="inf-r" align="left">Jahangir Alam</td>
</tr>
<tr>
<td id="inf-l" align="right">Mother's Name :</td>
<td id="inf-r" align="left">Alamtaj</td>
</tr>
<tr>
<td id="inf-l" align="right">Occupation :</td>
<td id="inf-r" align="left">Private Service</td>
</tr>
<tr>
<td id="inf-l" align="right">Date of Birth :</td>
<td id="inf-r" align="left">03 Aug, 1998</td>
</tr>
<tr>
<td id="inf-l" align="right">Gender :</td>
<td id="inf-r" align="left">Male</td>
</tr>
<tr>
<td id="inf-l" align="right">Marital Status :</td>
<td id="inf-r" align="left">Unmarried</td>
</tr>
<tr>
<td id="inf-l" align="right">Present Address :</td>
<td id="inf-r" align="left">Charkalekha, Muladi, Barishal.</td>
</tr>
<tr>
<td id="inf-l" align="right">Parmanent Address :</td>
<td id="inf-r" align="left">Charkalekha, Muladi, Barishal.</td>
</tr>
<tr>
<td id="inf-l" align="right">National ID Number :</td>
<td id="inf-r" align="left">2855279846</td>
</tr>
<tr>
<td id="inf-l" align="right">Contact No. :</td>
<td id="inf-r" align="left">...</td>
</tr>
<tr>
<td id="inf-l" align="right">E-mail Address :</td>
<td id="inf-r" align="left">...</td>
</tr>
<tr>
<td id="inf-l" align="right">FB UserID / E-mail / Mob No. :</td>
<td id="inf-r" align="left">...</td>
</tr>
</table><br/><br/><br/>


<!-- nominee -->

<div style="font-size:25px; position:relative; top:-10px; width:100%; border:0px solid black; display:flex;  align-items:center;  justify-content:center; text-shadow:1px 1px 3px #CACACA; color:#292929;">Nominee</div>

<table class="info-tbl" border="0" width="100%">
<tr>
<td id="inf-l" align="right">Name :</td>
<td id="inf-r" align="left">...</td>
</tr>
<tr>
<td id="inf-l" align="right">Relation :</td>
<td id="inf-r" align="left">...</td>
</tr>
<tr>
<td id="inf-l" align="right">Father's Name :</td>
<td id="inf-r" align="left">...</td>
</tr>
<tr>
<td id="inf-l" align="right">Contact No. :</td>
<td id="inf-r" align="left">...</td>
</tr>
<tr>
<td id="inf-l" align="right">Address :</td>
<td id="inf-r" align="left">...</td>
</tr>
<tr>
<td id="inf-l" align="right" style="color:transparent; text-shadow:1px 1px 2px transparent; border-top:0px solid transparent;">FB UserID / E-mail / Mob No. &nbsp;:</td>
<td id="inf-r" align="left" style="color:transparent; text-shadow:1px 1px 2px transparent; border-top:0px solid transparent;"> </td>
</tr>
</table>

</div>
    
</div>







<!-- right -->

<div id="Accountjkr" class="jkr">

<div class="right-bx">
<div style="font-size:25px; position:absolute; top:-40px; width:100%; border:0px solid black; display:flex;  align-items:center;  justify-content:center; text-shadow:1px 1px 3px #CACACA; color:#292929;">Account</div>
<table class="account-tbl" border="0" width="100%">
<tr>
<th>Month-2018</th>
<th>Payable</th>
<th>Extra</th>
<th>Advance</th>
<th>Total</th>
</tr>
<tr align="center">
<td>September</td>
<td>1,000/-</td>
<td>50/-</td>
<td></td>
<td>1,050/-</td>
</tr>
<tr align="center">
<td>October</td>
<td>1,000/-</td>
<td>50/-</td>
<td></td>
<td>1,050/-</td>
</tr>
<tr align="center">
<td>November</td>
<td>1,000/-</td>
<td>50/-</td>
<td></td>
<td>1,050/-</td>
</tr>
<tr align="center">
<td>December</td>
<td>1,000/-</td>
<td></td>
<td></td>
<td>1,000/-</td>
</tr>
<tr align="center">
<td></td>
<td></td>
<td></td>
<td></td>
<!-- Total --><th>4,150/-</th>
</tr>
</table><br/>

<table class="account-tbl" border="0" width="100%">
<tr>
<th>Month-2019</th>
<th>Payable</th>
<th>Extra</th>
<th>Advance</th>
<th>Total</th>
</tr>
<tr align="center">
<td>January</td>
<td>1,000/-</td>
<td></td>
<td></td>
<td>1,000/-</td>
</tr>
<tr align="center">
<td>February</td>
<td>1,000/-</td>
<td></td>
<td></td>
<td>1,000/-</td>
</tr>
<tr align="center">
<td>March</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>April</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>May</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>June</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>July</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>August</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>September</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>October</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>November</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td>December</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr align="center">
<td></td>
<td></td>
<td></td>
<td></td>
<!-- Total --><th>2,000/-</th>
</tr>
</table>

<br/>
<div class="ttl-amnt-bx">
<div class="ttl-amnt-nm">Md Jakir Hossain :</div>
<div class="ttl-amnt-nm-ttl">Total :</div>
<div class="ttl-amnt-amnt">6,150/-</div>
</div>

</div
</div>

</td>

    </tr>

</table>
      
        
      </div>
      <!--<footer class="container-qs">
        <p>Modal footer</p>
      </footer>-->
    </div>
  </div>
</div>
